<%- include('partials/header') %>
<%- include('partials/navbar1') %>




<div style="margin-left: 520px;">
  <h1>Your Health  </h1>
  <h1> is First Priority </h1>
  <p> We provide the doctor Services and Cilnic Services in Your City</p>
  <P>We are <i>Expanding</i> Day by Day</P>
</div>
<h1 ></h1>



<%- include('carousel') %>
  <%- include('card') %>


<%- include('partials/footer') %>